// anything that is shared between all pages should go here

// here is a variable. I usually use $ to denote them but you don't have to.
$linkColor = rgb(76, 76, 214)
bubba = 0

*
  padding: 0
  margin: 0
